.header {
    height: 40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    h2 {
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 3.75rem;
        line-height: 1.2;
        letter-spacing: -0.0083em;
    }
    h6 {
        color: darkgray;
        text-transform: capitalize;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.57;
        letter-spacing: 0.00714em;
    }
}

.banner {
    background-image: url('../../assets/matrix-yellow-320x320.gif');
    //background-image: url('../../assets/banner2.jpg');
    height: 320px;
    width: 100%;
}

.sub-header {
    height: 50%;
    display: flex;
    align-items: center;
}

.row{
    --bs-gutter-x: 6.5rem;
    display: flex;
    flex-wrap: nowrap;
}

.card {
    border: 0;
    background: transparent;
    color: #fff;
    padding: 10px;
    margin: 40px;
    width: 100px;
    height: 200px;
    align-items: center;
    img {
        width: 70px;
        margin: 0 auto;
    }
    h5 {
        font-weight: 500;
    }
    p {
        font-weight: 700;
    }
}

table {
    width: 100%;

    
}
.coin{
    margin-left: 20px;
}
.mat-form-field {
    font-size: 18px;
    width: 100%;
}

td,
th {
    width: 25%;
}

:host ::ng-deep .mat-sort-header-content {
    color: rgb(221, 208, 20);
    font-size: 16px;
}

:host ::ng-deep .mat-paginator-outer-container {
    background-color: rgb(36, 37, 37);
    
}

:host ::ng-deep tr.mat-header-row {
    background-color: #4a055f;
    font-size: 12px;
}

:host ::ng-deep tr.mat-row {
    height: 70px;
    &:hover {
        background: rgba(63, 43, 71, 0.452);
        cursor: pointer;
        
        .mat-cell, .mat-footer-cell {
            color: rgb(43, 189, 226);
        }
    }
}

@media (max-width: 600px) {
    .card {
        img {
            width: 40px;
            margin: 0 auto;
        }
    }
    td{
        img{
            width: 30px;
        }
    }
    .mat-cell, .mat-footer-cell {
        font-size: 10px;
    }
  }
